// ----------------------------------------------------------------------------
// * This file contains all styles related to the header of the site/application.
// ----------------------------------------------------------------------------

.header {
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 20%;
  border-bottom: 1px solid #435260;
  background-color: #2b3e50;
  transition-property: background-color;
  transition-duration: 700ms;

  @include md {
    padding: 0 4%;
  }
}

.js-header {
  background-color: #22323f;
}

// * End
// * ------------------------
