// ----------------------------------------------------------------------------
// * This file contains all styles related to the navigation of the site/application.
// ----------------------------------------------------------------------------

.nav {
  position: absolute;
  z-index: 3;
  width: 265px;
  height: 100vh;
  background-color: #2b3e50;
  transform: translateX(-265px);
  transition-property: transform;
  transition-duration: 700ms;
}

.js-nav {
  transform: translateX(0px);
}

// = ========================

.nav-list {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;

  &__item {
    display: flex;
    align-items: center;
    height: 8.2vh;
    padding-left: 30px;
    border-top: 1px solid #374757;
    border-bottom: 1px solid #263340;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    transition-property: background-color;
    transition-duration: 700ms;

    &:hover {
      background-color: #263340;
    }
    &--selected {
      color: #17c0f0;
    }
  }

  &__first-item {
    box-shadow: inset 0px 15px 15px -14px #263340;
  }

  .nav-icon {
    padding-bottom: 3px;
    font-size: 15px;
  }

  .fa-house-chimney {
    margin-right: 20px;
  }

  .fa-user {
    margin-right: 25px;
  }

  .fa-list {
    margin-right: 23px;
  }

  .fa-graduation-cap {
    margin-right: 18px;
  }

  .fa-suitcase {
    margin-right: 22px;
  }

  .fa-newspaper {
    margin-right: 22px;
  }

  .fa-location-dot {
    margin-right: 26px;
  }
}

// * End
// * ------------------------
