// ----------------------------------------------------------------------------
// * This file contains styles related to the secondary navigation component.
// ----------------------------------------------------------------------------

.secondary-nav {
  position: absolute;
  left: 97%;
  top: 45vh;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include md {
    left: 92%;
  }

  .chip {
    width: 10px;
    height: 10px;
    border: 1px solid #17c0f0;
    border-radius: 25px;
    color: #17c0f0;

    &__info {
      position: absolute;
      right: 20px;
      margin-top: -5px;
      visibility: hidden;
      opacity: 0;
      font-family: 'Open Sans', sans-serif;
      white-space: nowrap;
      color: white;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      transition-property: visibility, opacity;
      transition-duration: 700ms;
    }

    &:hover .chip__info {
      visibility: visible;
      opacity: 1;
    }
  }

  .js-selected {
    border: none;
    background-color: #17c0f0;
    animation-name: pulse-init;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

    &::after {
      content: '';
      display: block;
      position: relative;
      top: -2px;
      left: -2px;
      width: 14px;
      height: 14px;
      border-radius: 25px;
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 300ms;
      animation-iteration-count: infinite;
    }
  }
}

// * End
// * -------------------------
