// ----------------------------------------------------------------------------
// * This file contains all basics and generals styles.
// ----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  background-color: #2b3e50;
}

.js-html {
  overflow-y: hidden;
}

// * End
// * ------------------------
