// ----------------------------------------------------------------------------
// * This file contains styles that are specific to the about page.
// ----------------------------------------------------------------------------

.about {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-right: 60px;
  padding-top: 105px;
  column-gap: 30px;
  background-color: rgb(43, 62, 80);

  @include lg {
    height: initial;
  }

  @include md-l {
    flex-wrap: wrap;
    padding-right: 0;
  }

  @include sm {
    padding-top: 90px;
  }

  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    min-width: 380px;
    height: 530px;
    margin-left: 20px;
    background: linear-gradient(
      -50deg,
      rgba(170, 170, 170, 0.1) 45%,
      transparent 25%
    );
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);

    @include md-l {
      margin: 0;
    }
    @include sm {
      min-width: 320px;
    }
    @include xs {
      min-width: 320px;
      height: 470px;
    }

    img {
      width: 96%;
      min-width: 340px;
      height: 96.5%;
      object-fit: cover;

      @include sm {
        min-width: 280px;
      }
    }
  }

  &-info {
    width: 680px;

    @include md-l {
      margin-left: 30px;
      padding-right: 30px;
    }

    @include sm {
      margin: 0 17px;
      padding: 0;
    }

    &__h1 {
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: 600;
      font-size: 28px;
      letter-spacing: 0.7px;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        margin-top: 40px;
        margin-left: -169px;
        width: 174px;
        height: 1px;
        background: transparent
          linear-gradient(to right, transparent, #1cb8ee, transparent);
      }

      @include md-l {
        text-align: center;
        margin: 35px;
      }
    }

    .chip {
      position: relative;
      left: 80px;
      top: -14px;
      width: 8px;
      height: 8px;
      border: 1px solid #17c0f0;
      border-radius: 25px;
      color: #17c0f0;

      @include md-l {
        left: 50%;
        top: -30px;
      }
    }

    .pulse-effect {
      border: none;
      background-color: #17c0f0;
      animation-name: pulse-init;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;

      &::after {
        content: '';
        display: block;
        position: relative;
        top: -2px;
        left: -2px;
        width: 12px;
        height: 12px;
        border-radius: 25px;
        animation-name: pulse;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 300ms;
        animation-iteration-count: infinite;
      }
    }

    &__h2 {
      margin-top: 10px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-weight: 600;
      font-size: 31px;
      letter-spacing: 0.3px;

      @include xs {
        font-size: 25px;
      }
    }

    &__h3 {
      margin-top: 20px;
      font-family: 'Montserrat', sans-serif;
      color: #17c0f0;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.5px;
    }

    .bloc-text {
      padding-bottom: 4vh;
      border-bottom: 1px solid #263340;

      @include md-l {
        padding-bottom: 2vh;
      }
    }

    &__p {
      margin-top: 20px;
      font-family: 'Open Sans', sans-serif;
      color: #c7c5c7;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: 0.3px;
    }

    &__detail {
      display: flex;
      justify-content: center;
      column-gap: 65px;
      padding-top: 4vh;
      border-top: 1px solid #374757;

      @include lg {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      @include md-l {
        padding-top: 2vh;
      }

      li {
        margin-bottom: 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: #c7c5c7;

        .blue-text {
          color: #17c0f0;
          font-weight: 600;
        }
      }
    }

    .button-about {
      margin-left: 25px;
      margin-top: 25px;

      @include lg {
        margin-bottom: 40px;
        margin-left: 0;
      }

      @include md-l {
        margin: 40px auto;
      }
    }
  }
}

// * End
// * ------------------------
