// ----------------------------------------------------------------------------
// * This file contains styles that are specific to the home page.
// ----------------------------------------------------------------------------

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(38, 51, 64, 0.5);
  background-image: url('../images/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__h1 {
    margin: 0 0 35px 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-align: center;

    @include md {
      font-size: 50px;
    }

    @include xs {
      margin: 0 40px 35px 40px;
      font-size: 45px;
    }
  }

  &__h2 {
    height: 30px;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
    color: #c3c0c0;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;

    .js-emphasis {
      color: #17c0f0;
    }
  }

  .button-block {
    display: flex;
    gap: 25px;

    @include sm {
      flex-direction: column;
      gap: 20px;
    }
  }
}

// * End
// * ------------------------
